.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.container {
  width: 100%;
  margin: auto;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
