.icon {
    background-color: $off-white;
    text-align: center;
    line-height: $l-size;
    margin: 0;
    padding: 0;
    &__image {
        cursor: pointer;
        background-color: $dark-white;
        display: inline-block;
        height: $m-size * 1.4;
    }
}

.icon--fb {
    background-color: steelblue;
    border: none;
    border-radius: 2px;
    color: white;
    margin: 0 $xs-size;
    padding: 0 $s-size;
}

.icon--sort {
    cursor: pointer;
    color: $grey;
    padding: $xs-size 0;
    &:hover {
        color: darken($blue, 20%);
    }
    &:active {
        color: $blue; 
    }
}

.icon--sort-active {
    color: $blue;
    &:hover {
        color: $blue;
    }
}
