.table {
    background-color: $dark-white;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: pointer;
    table-layout: fixed;
    text-transform: capitalize;
    width: 100%;
    box-shadow: 3px 3px 6px rgba(0,0,0, .2);
    transition: all .2s;
    &__data {
        text-align: center;
        padding: $xs-size;
        width: 100%;
      }
      
      &__data--nospace {
        padding: 0;
        margin: 0;
      }
      
      &__header {
        padding: $xs-size;
      }
      
      &__row {
        font-weight: 500;
        text-shadow: 1px $dark-grey;
        padding: 0;
      }
}

.table--hover {
  background-color: $dark-white;
  &:hover {
    background-color: $off-white;
    transform: translateY(-5px);
  }
  &:active {
    background-color: lighten($off-white, 5%);
    transform: translateY(-2px);
    box-shadow: 2px 2px 4px rgba(0,0,0, .25);
  }
}

.table--active {
  background-color: lighten($off-white, 5%);
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px rgba(0,0,0, .35);
  &:hover {
    background-color: lighten($off-white, 5%);
    transform: translateY(-2px);
  }
}
  
.table--create {
  background-color: inherit;
  box-shadow: initial;
  .table__header {
    background-color: $off-white;
  }
}

.table--borders {
  cursor: default;
  .table__row {
    background-color: $dark-white;
    padding: 0;
    & > {
      border-bottom: .5px solid $grey;
    }
  }

  .table__row:nth-child(even) {
    background-color: $light-grey;
  }
  .table__row:hover {
    background-color: $green-light;
    color: $off-white;
  }
}
  